<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- Putanja za direktorijum CSV datoteka -->
	<appSettings>
		<add key="CsvDirektorijum" value="C:\Temp\csv\"/>
	</appSettings>

	<system.serviceModel>
		<!-- Veza sa servisom za rad sa csv -->
		<client>
			<endpoint name="XmlCsvParser"
			    address="net.tcp://localhost:4000/XmlCsvParser"
			    binding="netTcpBinding"
			    contract="XmlBazaPodataka.Interfejsi.IXmlCsvFunkcije" />
		</client>
	</system.serviceModel>
</configuration>