<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- Putanja za direktorijum CSV datoteka -->
	<appSettings>
		<add key="CsvDirektorijum" value="C:\Temp\csv\"/>
		<add key="IzvestajiDirektorijum" value="C:\Temp\izvestaji\"/>
	</appSettings>
	
	<system.serviceModel>
		<client>
			<!-- Veza sa statistickim servisom -->
			<endpoint name="StatistikaServis"
			    address="net.tcp://localhost:4001/Servis/"
			    binding="netTcpBinding"
			    contract="Common.Proracuni.IProracun" />
			
			<endpoint name="XmlCsvParser"
			    address="net.tcp://localhost:4000/XmlCsvParser"
			    binding="netTcpBinding"
			    contract="XmlBazaPodataka.Interfejsi.IXmlCsvFunkcije" />
		</client>
	</system.serviceModel>

</configuration>