<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- Putanja za direktorijum CSV datoteka -->
	<appSettings>
		<add key="CsvDirektorijum" value="C:\Temp\csv\"/>
		<add key="IzvestajiDirektorijum" value="C:\Temp\izvestaji\"/>
	</appSettings>
	
	<system.serviceModel>
		<!-- Veza sa servisom za rad sa csv -->
		<client>
			<endpoint name="XmlCsvParser"
			    address="net.tcp://localhost:4000/XmlCsvParser"
			    binding="netTcpBinding"
			    contract="XmlBazaPodataka.Interfejsi.IXmlCsvFunkcije" />

			<!-- Veza sa statistickim servisom -->
			<endpoint name="Statistika"
			    address="net.tcp://localhost:4001/StatistikaServis"
			    binding="netTcpBinding"
			    contract="Common.Proracuni.IProracun" />
		</client>
	</system.serviceModel>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
					switchValue="Information, ActivityTracing"
					propagateActivity="true" >
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
			<source name="myUserTraceSource"
					switchValue="Information, ActivityTracing">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="xml"
				 type="System.Diagnostics.XmlWriterTraceListener"
				 initializeData="Error.svclog" />
		</sharedListeners>
	</system.diagnostics>
</configuration>