<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<!-- Putanja za datoteku koja simulira xml bazu podataka -->
	<appSettings>
		<add key="DatotekaBazePodataka" value="C:\Temp\db\TBL_LOAD.xml"/>
	</appSettings>

	<!-- Timeout je podesen na 10 sekundi zbog multirequesta -->
	<bindings>
		<netTcpBinding>
			<binding name="longTimeoutBinding" receiveTimeout="00:30:00" sendTimeout="00:30:00">
				<security mode="None"/>
			</binding>
		</netTcpBinding>
	</bindings>
	
	<system.serviceModel>
		<services>
			<service name="Server.StatistickiServis">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4001" />
					</baseAddresses>
				</host>
				<endpoint address="StatistikaServis"
						  binding="netTcpBinding"
						  contract="Common.Proracuni.IProracun" />
			</service>
			
		</services>

		<!-- Server ce se povezivati sa servisom za rad sa Xml bazom podataka -->
		<client>
			<endpoint name="BazaPodataka"
				address="net.tcp://localhost:4000/BazaPodataka"
				binding="netTcpBinding"
				contract="XmlBazaPodataka.Interfejsi.IBazaPodataka" />

			<!--<endpoint name="XmlCsvParser"
			    address="net.tcp://localhost:4000/XmlCsvParser"
			    binding="netTcpBinding"
			    contract="XmlBazaPodataka.Interfejsi.IXmlCsvFunkcije" />-->
		</client>
	</system.serviceModel>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
					switchValue="Information, ActivityTracing"
					propagateActivity="true" >
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
			<source name="myUserTraceSource"
					switchValue="Information, ActivityTracing">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="xml"
				 type="System.Diagnostics.XmlWriterTraceListener"
				 initializeData="Error.svclog" />
		</sharedListeners>
	</system.diagnostics>
</configuration>