<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<!-- Putanja za datoteku koja simulira xml bazu podataka -->
	<appSettings>
		<add key="DatotekaBazePodataka" value="C:\TBL_LOAD.xml"/>
	</appSettings>

	<system.serviceModel>
		<services>
			<service name="Server.StatistickiServis">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4001" />
					</baseAddresses>
				</host>
				<endpoint address="StatistikaServis"
						  binding="netTcpBinding"
						  contract="Server.Interfejsi.IProracun" />
			</service>
			
		</services>

		<!-- Server ce se povezivati sa servisom za rad sa Xml bazom podataka -->
		<client>
			<endpoint name="BazaPodataka"
				address="net.tcp://localhost:4000/BazaPodataka"
				binding="netTcpBinding"
				contract="XmlBazaPodataka.Interfejsi.IBazaPodataka" />

			<!--<endpoint name="XmlCsvParser"
			    address="net.tcp://localhost:4000/XmlCsvParser"
			    binding="netTcpBinding"
			    contract="XmlBazaPodataka.Interfejsi.IXmlCsvFunkcije" />-->
		</client>
	</system.serviceModel>
</configuration>