<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- Putanja za datoteku koja simulira xml bazu podataka -->
	<appSettings>
		<add key="DatotekaBazePodataka" value="C:\TBL_LOAD.xml"/>
	</appSettings>
</configuration>