<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <!-- Putanja za datoteku koja simulira xml bazu podataka -->
  <appSettings>
    <add key="DatotekaBazePodataka" value="C:\Temp\db\TBL_LOAD.xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <!-- Timeout je podesen na 0 sekundi zbog multirequesta -->
    <bindings>
      <netTcpBinding>
        <binding name="longTimeoutBinding" receiveTimeout="00:30:00" sendTimeout="00:30:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Server.StatistickiServis">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:4001/" />
          </baseAddresses>
        </host>
        <endpoint address="Servis" binding="netTcpBinding" contract="Common.Proracuni.IProracun" />
      </service>
    </services>
    <!-- Server ce se povezivati sa servisom za rad sa Xml bazom podataka -->
    <client>
      <endpoint name="BazaPodataka" address="net.tcp://localhost:4000/BazaPodataka" binding="netTcpBinding" contract="XmlBazaPodataka.Interfejsi.IBazaPodataka" />
      <!--<endpoint name="XmlCsvParser"
			    address="net.tcp://localhost:4000/XmlCsvParser"
			    binding="netTcpBinding"
			    contract="XmlBazaPodataka.Interfejsi.IXmlCsvFunkcije" />-->
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>