<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<!-- Putanja za datoteku koja simulira xml bazu podataka -->
	<appSettings>
		<add key="DatotekaBazePodataka" value="C:/Temp/db/TBL_LOAD.xml"/>
		<add key="BazaZaGreske" value="C:/Temp/db/TBL_AUDIT.xml"/>
		<add key="DB" value="C:/Temp/db/"/>
	</appSettings>

	<system.serviceModel>
		<services>
			<service name="XmlBazaPodataka.XmlBazaPodatakaServis">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:4000" />
					</baseAddresses>
				</host>
				<endpoint address="BazaPodataka"
						  binding="netTcpBinding"
						  contract="XmlBazaPodataka.Interfejsi.IBazaPodataka" />

				<endpoint address="XmlCsvParser"
						  binding="netTcpBinding"
						  contract="XmlBazaPodataka.Interfejsi.IXmlCsvFunkcije" />
			</service>
		</services>
	</system.serviceModel>
</configuration>